<div class="team-select">
  <div class="team-select-left">
    <input class="form-control" type="text" ng-model="ctrl.leftFilter" style="width:150px;" ng-keypress="ctrl.submitChamp($event)" placeholder="Search Champion"/>
    <div class="team-select-left-container" ng-hide="!ctrl.leftFilter">
      <div style="cursor:pointer" ng-repeat="champ in ctrl.champions | filter : ctrl.leftFilter | orderBy: 'name'"
        ng-click="ctrl.addChamp( champ.id )" >
        {{champ.name}}
      </div>
    </div>
    <br/>
    <div  ng-repeat="champ in ctrl.selectedChampions"
          ng-click="ctrl.addHilightedChamp( champ.id )" ng-class="ctrl.selectedClass( champ.id )">

      <input type="button" class="closer" value="x: {{champ.name}}"
             ng-click="ctrl.removeChamp( champ.id )" />
    </div>
  </div>
  <div style="clear:both;"></div>
</div>
