.team-select {
  .team-select-left {
    float:left;
    width: 150px;
    height:80vh;
    margin-left:8px;
  }
  .team-select-left-container {
    height:80vh;
    overflow-y: auto;
  }
  .team-select-middle {
    float:left;
    width:10px;
    height:80vh;

  }

  .team-select-right {
    float:left;
    overflow-y: auto;
    margin-right:8px;
  }
  .team-select-right-container {

  }
  .selected {
    border: 1px solid darkblue;
  }

  .closer {
    /* float: right; */
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    height: 32px; }
  .closer:hover, .closer:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50); }
}
