circle {
  stroke: white;
  stroke-width: 2px;
  opacity: .8;
}
line {
  stroke: #999;
}

.loader {
  text-align: center;
}
.btn-group {
  margin-left: 330px;
}
.label {
  fill: black;
  font-size: 16px;
}
